{{outlet}}
<div class="layou-column layout-align-center">
  {{generate-question
      question="Save a file:"
      answer=":w"
  }}
  {{generate-question
      question="Quit without saving:"
      answer=":q!"
  }}
  {{generate-question
    question="|vim example --> |example:"
    answer="dw"
  }}
  {{generate-question
    question="|old example --> new| example:"
    answer="cw"
  }}
  {{generate-question
    question="|vim example --> vim |example:"
    answer="w"
  }}
  {{generate-question
    question="vim |example --> |vim example:"
    answer="b"
  }}
  {{generate-question
    question="vim| example --> vim example|:"
    answer="e"
  }}
  {{generate-question
    question="Enter to visual mode:"
    answer="v"
  }}
  {{generate-question
    question="Enter to insert mode:"
    answer="i"
  }}
  {{generate-question
    question="Go to first line the document:"
    answer="gg"
  }}
  {{generate-question
    question="Go to last line of document:"
    answer="G"
  }}
  {{generate-question
    question="Undo changes:"
    answer="u"
  }}
  {{generate-question
    question="Delete character:"
    answer="x"
  }}
  {{generate-question
    question="Delete line:"
    answer="dd"
  }}
  {{generate-question
    question="Copy line:"
    answer="yy"
  }}
  {{generate-question
    question="Copy selection:"
    answer="y"
  }}
  {{generate-question
    question="Paste selection:"
    answer="p"
  }}
  {{generate-question
    question="Delete 2 lines:"
    answer="2dd"
  }}
  {{generate-question
    question="Uppercase selection:"
    answer="gU"
  }}
  {{generate-question
    question="Lowrcase selection:"
    answer="gu"
  }}
  {{generate-question
    question="(|vim example) --> (): //delete inside brackets"
    answer="di)"
  }}
  {{generate-question
    question="(|vim example) select inside brackets"
    answer="di)"
  }}
  {{generate-question
    question="Create a mark"
    answer="ma"
  }}
  {{generate-question
    question="Go to the mark"
    answer="'a"
  }}
  {{generate-question
    question="Search 'example' in file"
    answer="/"
    extra="example"
  }}
  {{generate-question
    question="Find next occurrence of the search in the same file"
    answer="n"
  }}
  {{generate-question
    question="Search in all the document for 'example'"
    answer="Ggrep"
    extra="word"
  }}
</div>